html,
body {
  margin: 0;
  background-color: rgb(210, 210, 220);
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
#section_1 {
  height: 100vh;
  background-image: url("../images/Arsene\ sdsdsd\ copy\ \(1\).png");
  background-repeat: no-repeat;
  background-size: 86% 100%;
  background-position: right top;
}

nav {
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  width: 500px;
  display: table;
  margin: 0 auto;
  transform: translateY(-50%);
}

nav a {
  position: relative;
  width: 40%;
  display: table-cell;
  text-align: center;
  color: #fff;
  text-decoration: none;
  /* font-family: "Source Code Pro", monospace; */
  font-weight: bold;
  padding: 10px 20px;
  transition: 0.2s ease color;
  font-size: small;
}

nav a:before,
nav a:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.2s ease transform;
}

nav a:before {
  top: 0;
  left: 10px;
  width: 6px;
  height: 6px;
}

nav a:after {
  top: 5px;
  left: 18px;
  width: 4px;
  height: 4px;
}

nav a:nth-child(1):before {
  background-color: rgb(245, 245, 142);
}

nav a:nth-child(1):after {
  background-color: red;
}

nav a:nth-child(2):before {
  background-color: rgb(81, 197, 81);
}

nav a:nth-child(2):after {
  background-color: #83e215;
}

nav a:nth-child(3):before {
  background-color: #fff;
}

nav a:nth-child(3):after {
  background-color: rgb(52, 5, 223);
}

#indicator {
  position: absolute;
  left: 12%;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-color: #fff;
  border-radius: 5px;
  transition: 0.2s ease left;
}

nav a:hover {
  color: blueviolet;
  text-decoration: none;
}

nav a:hover:before,
nav a:hover:after {
  transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator {
  background: linear-gradient(130deg, rgb(245, 245, 142), red);
}

nav a:nth-child(2):hover ~ #indicator {
  left: 45%;
  background: linear-gradient(130deg, rgb(81, 197, 81), #83e215);
}

nav a:nth-child(3):hover ~ #indicator {
  left: 82%;
  background: linear-gradient(130deg, purple, palevioletred);
}

#ytd-url {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 14px;
  margin: 20px;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  text-decoration: none;
  background-color: #000;
  border-radius: 4px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.3);
  z-index: 125;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  margin-left: 10%;
}

.btn {
  height: 30px;
  background-color: blueviolet;
  color: #fff;
  margin-top: 3%;
  font-size: x-small;
  border-radius: 20px;
  /* font-family: "Source Code Pro", monospace; */
  margin-right: 10%;
  font-weight: bold;
}

#home_text {
  margin-top: 10%;
  margin-left: 10%;
  font-family: "Fredoka One", cursive;
  width: 35%;
  font-size: 25px;
  background: -webkit-linear-gradient(rgb(13, 10, 17), blueviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#A_Propos_de_nous {
  height: 20%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  padding: 6%;
  background-image: url("/images/group2.png"), url("/images/group1.png");
  background-size: 90px, 90px;
  background-repeat: no-repeat;
  background-position: right bottom, left top;
}

#about {
  text-align: center;
  /* width: 80%; */
  line-height: 30px;
}
#about_text {
  font-size: inherit;
}

/* .img {
  border-radius: 50%;
} */

h4,
h6 {
  margin-bottom: 2%;
  font-family: "Fredoka One", cursive;
  background: -webkit-linear-gradient(rgb(13, 10, 17), blueviolet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#services {
  padding: 5%;
  color: rgb(210, 210, 220);
}

#section_3 {
  height: 85%;
  background-color: rgb(4, 10, 28);
  background-image: url("/images/courbe-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right top;
}
ul > li {
  font-size: small;
  line-height: 30px;
  width: 30%;
}

#get_in_touch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  background-image: url("/images/eclipse.png"), url("/images/group3.png");
  background-repeat: no-repeat;
  background-position: right bottom, left top;
  /* background-size: 90px, 90px; */
}

h6 {
  text-align: center;
  margin-bottom: 5%;
}

#form {
  width: 35%;
}
#coordonnées {
  display: flex;
  flex-direction: column;
  justify-content: 20px;
  font-size: small;
  margin-top: 10%;
}

#coordonnées > p {
  display: flex;
  flex-direction: row;
  justify-content: 10px;
}

/* input[type="text"],
input[type="email"],
textarea {
  background-color: rgb(210, 210, 220);
} */

/* textarea {
  background-color: rgb(210, 210, 220);
} */
